<wrapper class="footer" bgcolor="#f3f3f3">
    <container align="center" class="footer">
        <spacer size="10"></spacer>

        <spacer size="10"></spacer>
    </container>

    <container align="center" class="footer" bgcolor="#f3f3f3">
        <row>
            <columns large="1" class="show-for-large"></columns>
            <columns small="12" large="10" valign="middle">
                <p>
                    © {{ 'now'|date('Y') }} {{ params.admin }}. All rights reserved.<br/>
                </p>
            </columns>
            <columns large="1" class="show-for-large"></columns>
        </row>
    </container>

</wrapper>
