#cf-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000
}

#cf-modal {
  background: #fff;
  min-width: 320px;
  max-width: 720px;
  width: 90vw;
  max-height: 80vh;
  overflow: auto;
  border-radius: 8px;
  padding: 16px
}
